$blanco: #ffffff;
$azul: #0549cc;
$amarillo: #ddf517;
$negro: #000000;
$rojo: #e70707;
$azul_plomo: #168bc4;
$naranja: #f2ab0c;
$verde: #5ad250;
$morado: #9130de;

$color-letra-principal: $negro;
$color-titulos: $amarillo;
$fuente-principal: 'Open Sans', sans-serif;
$fuente-titulos:'Bitter', serif;

/* Medias queries */
$tablet: 768px;
$desktop: 1024px;
