@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans:400,700');

@import 'variables';
@import 'mixin';
@import 'layout';
@import 'nav';
@import 'galeria';
@import 'loop';
@import 'servicios';



/*Seccion de noticias*/
.noticia{
  padding-top: 10px;
  margin-bottom: 30px;
  border-top: 2px dotted $blanco;


  h3{
    color: $blanco;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  img{
    float: left;
    margin-right: 10px;
  }

  p{
    font-size: 1rem;
    color: $blanco;
  }
}



/* Tablas Museos*/
table{
  margin-top: 30px;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  border-collapse: collapse;
  >caption{
    text-align: left;
    font-family: $fuente-titulos;
    font-size: 1.8;
    padding: 5px;
    color: $amarillo;
  }
  thead > tr th{
    background-color: darken($azul,17);
    color: $blanco;
    font-size: 1.3rem;
  }
  > thead,
  > tbody{
    > tr{
      &:nth-child(odd){
        background-color: darken($azul,10);
      }
      &:hover{
        background-color: darken($morado, 17);
        cursor: pointer;
      }
      th,
      td{
        color: $blanco;
        padding: 10px;
        border-bottom: 2px dotted darken($azul_plomo,7);
      }
    }
  }
}
