@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans:400,700');

$blanco: #ffffff;
$azul: #0549cc;
$amarillo: #ddf517;
$negro: #000000;
$rojo: #e70707;
$azul_plomo: #168bc4;
$naranja: #f2ab0c;
$verde: #5ad250;
$morado: #9130de;

$color-letra-principal: $negro;
$color-titulos: $amarillo;
$fuente-principal: 'Open Sans', sans-serif;
$fuente-titulos:'Bitter', serif;

/* Medias queries */
$tablet: 768px;
$desktop: 1024px;

@mixin tablet{
  @media only screen and (min-width: #{$tablet}){
    @content;
  }
}

@mixin desktop{
  @media only screen and (min-width: #{$desktop}){
    @content;
  }
}

@mixin clearfix{
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

@mixin imagenes ($img,$height: 100vh,$bgPos: center center){
  background-position: $bgPos;
  height: $height;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,1.5,0,.6)), url($img);
  background-size: cover;
  background-repeat: no-repeat;
}

body{
  margin: 0;
  padding: 0;
  background-color: $azul_plomo;
  font-size: 1.4rem;
  color: $color-letra-principal;
  font-family: $fuente-principal;
}

h1,h2,h3,h4,h5,h6{
  color: $color-titulos;
  font-family: $fuente-titulos;
}

.container{
  margin: 0 auto;
  @include tablet{
     width: 90%;
  }

  @include desktop{
    width: 1000px;
  }

}

.navegacion{
  @include clearfix;
  background-color: lighten($azul,35);
  h2{
    margin: 0;
    float: left;
    display: none;
    padding: 5px;
    @include tablet{
      display: block;
    }
  }
  nav{
    display: inline;
    margin-top: 10px;

    @include tablet{
      float: right;
    }
    a{
      color: $blanco;
      text-decoration: none;
      font-size: 1rem;
      display: inline;
      text-align: center;
      display: block;
      margin: 20px 0 0 0;

      @include tablet{
        display: inline;
        text-align: left;
      }

      &:hover{
        color: $amarillo;
        text-decoration: line-through;
      }

    }

  }
}

.london{
  @include imagenes('../img/imagen02.jpg',600px,top center);
}

.estacion{
  @include imagenes('../img/imagen03.jpg',200px);
}

.background{
  display: table;
  width: 100%;
  position: relative;
  .contenido{
    display: table-cell;
    font-size: 1.1rem;
    position: relative;
    vertical-align: bottom;
    padding: 0 20px 20px 20px;
  }
  p{
    color: $blanco;
    font-weight: 700;
  }
}

#contenido-principal{
  box-sizing: border-box;
  @include tablet{
    padding-right: 40px;
    width: 66.7%;
    float: left;
  }
}

aside{
  @include tablet{
    float: right;
    width: 33.3%;
  }
}

.noticia{
  padding-top: 10px;
  margin-bottom: 30px;
  border-top: 2px dotted $blanco;


  h3{
    color: $blanco;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  img{
    float: left;
    margin-right: 10px;
  }

  p{
    font-size: 1rem;
    color: $blanco;
  }
}
@mixin bordes-redondos($size){
  border-radius: $size;
}

.btn{
  @include bordes-redondos(5px);
  display: block;
  background-color: darken($rojo,15);
  color: $blanco;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  transition: width 2s;
  padding: 5px 10px;
  @include tablet{
    display: inline-block;
  }

  &:hover{
    background-color:$naranja;
  }

}

.btn_verde{
  @extend .btn;
  background-color:$verde;
}

/* Tablas Museos*/
table{
  margin-top: 30px;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  border-collapse: collapse;
  >caption{
    text-align: left;
    font-family: $fuente-titulos;
    font-size: 1.8;
    padding: 5px;
    color: $amarillo;
  }
  thead > tr th{
    background-color: darken($azul,17);
    color: $blanco;
    font-size: 1.3rem;
  }
  > thead,
  > tbody{
    > tr{
      &:nth-child(odd){
        background-color: darken($azul,10);
      }
      &:hover{
        background-color: darken($morado, 17);
        cursor: pointer;
      }
      th,
      td{
        color: $blanco;
        padding: 10px;
        border-bottom: 2px dotted darken($azul_plomo,7);
      }
    }
  }
}

/*Galeria*/
@mixin gridImagenes($cantidad, $margin) {
    width: ((100% - (($cantidad - 1) * $margin))/$cantidad);
    &:nth-child(n) {
      margin-right: $margin;
      margin-bottom: $margin;
    }
    &:nth-child(#{$cantidad}n + 1) {
        margin-right:0;
        margin-bottom: 0;
    }
}

.galeria{
  @include clearfix;
  li.imagen{
    float: left;
    list-style: none;
    @include gridImagenes(5,1%);
    img{
      @include bordes-redondos(3px);
      display: block;
      max-width: 100%;
    }
  }
}
