@import url("https://fonts.googleapis.com/css?family=Bitter|Open+Sans:400,700");
/* Medias queries */
body {
  margin: 0;
  padding: 0;
  background-color: #168bc4;
  font-size: 1.4rem;
  color: #000000;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #ddf517;
  font-family: "Bitter", serif; }

.container {
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 1024px) {
    .container {
      width: 1000px; } }

.navegacion {
  background-color: #87affc; }
  .navegacion:after {
    content: '';
    display: table;
    clear: both; }
  .navegacion h2 {
    margin: 0;
    float: left;
    display: none;
    padding: 5px; }
    @media only screen and (min-width: 768px) {
      .navegacion h2 {
        display: block; } }
  .navegacion nav {
    display: inline;
    margin-top: 10px; }
    @media only screen and (min-width: 768px) {
      .navegacion nav {
        float: right; } }
    .navegacion nav a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1rem;
      display: inline;
      text-align: center;
      display: block;
      margin: 20px 0 0 0; }
      @media only screen and (min-width: 768px) {
        .navegacion nav a {
          display: inline;
          text-align: left; } }
      .navegacion nav a:hover {
        color: #ddf517;
        text-decoration: line-through; }

.london {
  background-position: top center;
  height: 600px;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 2, 0, 0.6)), url("../img/imagen02.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.estacion {
  background-position: center center;
  height: 200px;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 2, 0, 0.6)), url("../img/imagen03.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.background {
  display: table;
  width: 100%;
  position: relative; }
  .background .contenido {
    display: table-cell;
    font-size: 1.1rem;
    position: relative;
    vertical-align: bottom;
    padding: 0 20px 20px 20px; }
  .background p {
    color: #ffffff;
    font-weight: 700; }

#contenido-principal {
  box-sizing: border-box; }
  @media only screen and (min-width: 768px) {
    #contenido-principal {
      padding-right: 40px;
      width: 66.7%;
      float: left; } }

@media only screen and (min-width: 768px) {
  aside {
    float: right;
    width: 33.3%; } }

.noticia {
  padding-top: 10px;
  margin-bottom: 30px;
  border-top: 2px dotted #ffffff; }
  .noticia h3 {
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.4rem; }
  .noticia img {
    float: left;
    margin-right: 10px; }
  .noticia p {
    font-size: 1rem;
    color: #ffffff; }

.btn, .btn_verde {
  display: block;
  background-color: #9d0505;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  transition: width 2s;
  padding: 5px 10px; }
  @media only screen and (min-width: 768px) {
    .btn, .btn_verde {
      display: inline-block; } }
  .btn:hover, .btn_verde:hover {
    background-color: #f2ab0c; }

.btn_verde {
  background-color: #5ad250; }
